<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Administrative</display-name><display-name>Admin_Portal</display-name>

  <welcome-file-list>
   <welcome-file>AdminPage.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TeachersServlet</display-name>
    <servlet-name>TeachersServlet</servlet-name>
    <servlet-class>com.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersServlet</servlet-name>
    <url-pattern>/TeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>com.StudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/StudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllSubjects</display-name>
    <servlet-name>AllSubjects</servlet-name>
    <servlet-class>com.AllSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllSubjects</servlet-name>
    <url-pattern>/AllSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Class8Subj</display-name>
    <servlet-name>Class8Subj</servlet-name>
    <servlet-class>com.Class8Subj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Class8Subj</servlet-name>
    <url-pattern>/Class8Subj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Class9Subj</display-name>
    <servlet-name>Class9Subj</servlet-name>
    <servlet-class>com.Class9Subj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Class9Subj</servlet-name>
    <url-pattern>/Class9Subj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Class10Subj</display-name>
    <servlet-name>Class10Subj</servlet-name>
    <servlet-class>com.Class10Subj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Class10Subj</servlet-name>
    <url-pattern>/Class10Subj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignServlet</display-name>
    <servlet-name>AssignServlet</servlet-name>
    <servlet-class>com.AssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignServlet</servlet-name>
    <url-pattern>/AssignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTo</display-name>
    <servlet-name>AssignTo</servlet-name>
    <servlet-class>com.AssignTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTo</servlet-name>
    <url-pattern>/AssignTo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTo10</display-name>
    <servlet-name>AssignTo10</servlet-name>
    <servlet-class>com.AssignTo10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTo10</servlet-name>
    <url-pattern>/AssignTo10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPass</display-name>
    <servlet-name>checkPass</servlet-name>
    <servlet-class>com.checkPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPass</servlet-name>
    <url-pattern>/checkPass</url-pattern>
  </servlet-mapping>
</web-app>